In [1]:
print("Hey all")

Hey all

In [7]:
name=input("Enter your name")
print(name)

Enter your nameanupam
anupam

In [8]:
age=int(input("Enter your age"))
print(age)

Enter your age20
20

In [5]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [9]:
pi=float(input("Enter the roubd off value of pi"))
print(pi)

Enter the roubd off value of pi3.14
3.14

In [12]:
# single line comment
'''indicates a
multiline comment'''
print("Hey, python")

Hey, python

In [13]:
print('''We can print
multiple lines''')

We can print
multiple lines

In [14]:
print('''MENU
1.Samosa
2.Mandi
3.Lime Juice
4.Chicken Biriyani''')
op=int(input("Enter your choice :"))
if op==1:
  print("Order placed is samosa!")
elif op==2:
  print("Order placed is Mandi!")
elif op==3:
  print("Order placed is Lime Juice!")
elif op==4:
  print("Order placed is Chicken Biriyani!")
else:
  print("Wrong option is chosen!!!")

MENU
1.Samosa
2.Mandi
3.Lime Juice
4.Chicken Biriyani
Enter your choice :3
Order placed is Lime Juice!

In [16]:
num=int(input("Enter a non zero number"))
if num>0:
  print("Number '",num,"' is a positive number!!!")

Enter a non zero number0

In [23]:
n=int(input("Enter the number"))
if n%2==0:
  print("The number '",n,"' is an even number")
else:
  print("The number '",n,"' is an odd number")

Enter the number11
The number ' 11 ' is an odd number

In [25]:
mark=int(input("Enter your mark"))
if mark>=90:
  print("Grade A")
elif mark>=80 and mark<=89:
  print("Grade B")
elif mark>=60 and mark<=79:
  print("Grade C")
elif mark>=50 and mark<=59:
  print("Grade D")
else:
  print("Failed!!!")

Enter your mark56
Grade D