Dictionary

In [1]:
#data can be stored as key-value pair
#keys cannot be repeated
dict1={1:"Anupam",2:"Fathmi",3:"Sidra",4:"Nandana"}
print(dict1)

{1: 'Anupam', 2: 'Fathmi', 3: 'Sidra', 4: 'Nandana'}

In [8]:
print(dict1[1])
print(dict1[2])

Anupam
Fathmi

In [9]:
# cannot print the value whose key is not available
print(dict1[7])

KeyError: 7

In [11]:
# keys and values can be of any datatypes
dict2={1:'Shahma','Hello':'Vychu','list1':[1,2,3,4]}
print(dict2['Hello'])
print(dict2['list1'])

Vychu
[1, 2, 3, 4]

In [12]:
#Dictionary is mutable
dict2[4]='Kicho'
print(dict2)

{1: 'Shahma', 'Hello': 'Vychu', 'list1': [1, 2, 3, 4], 4: 'Kicho'}

In [13]:
dict2[4]="Kithu"
print(dict2)

{1: 'Shahma', 'Hello': 'Vychu', 'list1': [1, 2, 3, 4], 4: 'Kithu'}

In [16]:
#Membership
#in operator only checks for key
print(4 in dict2)
print(3 in dict2)

True
False

Dictionary Traversal

In [17]:
for i in dict2:
  print(dict2[i])

Shahma
Vychu
[1, 2, 3, 4]
Kithu

In [18]:
for i in dict2:
  print(i,":",dict2[i])

1 : Shahma
Hello : Vychu
list1 : [1, 2, 3, 4]
4 : Kithu

 Dictionary Methods and Built-in funtion

In [19]:
# len()
len(dict2) #return number of items or keys

4

In [22]:
#dict_name.keys()
#dict_name.values()
#dect_name.items()
print(dict2.keys())
print(dict2.values())
print(dict2.items())

dict_keys([1, 'Hello', 'list1', 4])
dict_values(['Shahma', 'Vychu', [1, 2, 3, 4], 'Kithu'])
dict_items([(1, 'Shahma'), ('Hello', 'Vychu'), ('list1', [1, 2, 3, 4]), (4, 'Kithu')])

In [25]:
#dict_name.get(key)
print(dict2.get(1))
print(dict2.get(10)) # get function return 'None' when the key is not available

Shahma
None

In [27]:
#dict1_name.update(dict2_name)
d1={1:"Anupam",2:"Melvin"}
d2={3:"Goutham",4:"Akhil",5:"Peter"}
d1.update(d2)
print(d1)

{1: 'Anupam', 2: 'Melvin', 3: 'Goutham', 4: 'Akhil', 5: 'Peter'}

In [28]:
# delete del dict_name[key]
del d1[3]
print(d1)

{1: 'Anupam', 2: 'Melvin', 4: 'Akhil', 5: 'Peter'}

In [29]:
# deleting the key-value pair which is not in the dictionary
del d1[6]
print(d1)

KeyError: 6

In [30]:
# dict_name.clear()
d2.clear()
print(d2)

{}